<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Shisha Settings</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>moe.waru.shisha.preferences</string>
            <key>key</key>
            <string>enabled</string>
            <key>label</key>
            <string>Enable Tweak</string>
            <key>PostNotification</key>
            <string>moe.waru.shisha.preferences.reload</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>default</key>
            <integer>50</integer>
            <key>defaults</key>
            <string>moe.waru.shisha.preferences</string>
            <key>key</key>
            <string>maxOffset</string>
            <key>min</key>
            <integer>10</integer>
            <key>max</key>
            <integer>100</integer>
            <key>showValue</key>
            <true/>
            <key>label</key>
            <string>Parallax Intensity</string>
            <key>PostNotification</key>
            <string>moe.waru.shisha.preferences.reload</string>
        </dict>
    </array>
    <key>title</key>
    <string>Shisha</string>
</dict>
</plist>
